################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListPool/.vs/ListPool
/ListPool/ListPool/obj
/ListPool/ListPool/bin/Debug/netstandard2.1
/ListPool/ListPool.Benchmarks/obj
/ListPool/ListPool.UnitTests/obj
/ListPool/ListPool.UnitTests/bin/Debug/netcoreapp3.1
/ListPool/ListPool.Benchmarks/bin/Release/netcoreapp3.1
/ListPool/ListPool/bin/Release/netstandard2.1
/ListPool/ListPool.UnitTests/bin/Release/netcoreapp3.1
