################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ListPool/.vs/ListPool
/ListPool/ListPool/obj
/ListPool/ListPool/bin/Debug/netstandard2.1
/ListPool/ListPool.Benchmarks/obj
/ListPool/ListPool.UnitTests/obj
/ListPool/ListPool.UnitTests/bin/Debug/netcoreapp3.1
/ListPool/ListPool.Benchmarks/bin/Release/netcoreapp3.1
/ListPool/ListPool/bin/Release/netstandard2.1
/ListPool/ListPool.UnitTests/bin/Release/netcoreapp3.1
/src/.vs/ListPool
/perf/ListPool.Benchmarks/obj/Release/netcoreapp3.1
/perf/ListPool.Benchmarks/obj
/perf/ListPool.Benchmarks/bin/Release/netcoreapp3.1
/perf/ListPool.Benchmarks/bin
/tests/ListPool.UnitTests/obj
/tests/ListPool.UnitTests/bin
/tests/ListPool.UnitTests/ListPool.UnitTests.csproj
/src/ListPool/obj
/src/ListPool/bin
/tests/ListPool.Netstandard2_0.UnitTests/bin
/tests/ListPool.Netstandard2_0.UnitTests/obj
/tests/ListPool.Resolvers.Utf8Json.Tests/obj
/tests/ListPool.Resolvers.Utf8Json.Tests/bin/Debug/netcoreapp3.1
/src/ListPool.Resolvers.Utf8Json/obj
/src/ListPool.Resolvers.Utf8Json/bin/Debug/netstandard2.0
/src/ListPool.Resolvers.Utf8Json/bin
/tests/ListPool.Resolvers.Utf8Json.Tests/bin/Release/netcoreapp3.1
/ListPool.Utf8Json.Tests/obj
/ListPool.Utf8Json.Tests/bin
