name: Build

on:
  push:
    branches: master
    tags: '**'
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.0.0
      with:
        version: 3.1.100

    - name: dotnet restore
      run: dotnet restore --packages .nuget/packages

    - name: dotnet build
      run: dotnet build --configuration Release

    - name: dotnet test
      run: dotnet test --no-build --configuration Release -p:CollectCoverage=true -p:CoverletOutputFormat=lcov -p:CoverletOutput=./coverage/lcov.info

    - name: Coveralls GitHub Action
      uses: coverallsapp/github-action@v1.0.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

  pack:
    runs-on: windows-latest
    needs: build
    if: github.event_name == 'push'
    steps:

    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.0.0
      with:
        version: 3.1.100

    - name: dotnet restore
      run: dotnet restore --packages .nuget/packages

    - name: dotnet build
      run: dotnet build --configuration Release

    - name: Pack
      run: dotnet pack --output ./artifacts -c Release --no-build --include-source --include-symbols

    - uses: actions/upload-artifact@v1
      with:
        name: artifacts
        path: ./artifacts

  publish:
    runs-on: windows-latest
    needs: pack
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:

    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v1.0.0
      with:
        version: 3.1.100

    - uses: actions/download-artifact@v1
      with:
        name: artifacts
        path: ./artifacts

    - name: Publish packages
      run: dotnet nuget push ./artifacts/**.nupkg --source nuget.org --api-key ${{secrets.NUGET_TOKEN}} --skip-duplicate
